:root {
    --color-blue: #1992D4;
    --color-gray: #E2E8F0;
    --color-white: #FFF;
    --color-yellow: #F0B429;
    --color-black: #000;
    --text-color-gray: #636363;
    --icon-color-gray: #333333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* border: 1px solid black; */
}

body {
    height: 100vh;
}

.page-wrapper {
    display: grid;
    overflow: auto;
    grid-template:
        'sidebar header' 170px
        'sidebar main' 1fr
        / 275px 1fr;
}

.header {
    grid-area: header;
    background-color: var(--color-white);
    display: grid;
    grid-template:
        'header-top' 1fr
        'header-bottom' 1fr;
    padding: 0 80px 10px 30px;
}

.header-top {
    grid-area: header-top;
    display: grid;
    grid-template:
        'search-icon search-bar notif-icon profile-picture-small header-top-username'
        / 40px 1fr 30px 100px 150px;
    align-items: center;
}

.seach-icon {
    grid-area: search-icon;
}

.search-bar {
    grid-area: search-bar;
    border: none;
    border-radius: 25px;
    height: 35px;
    background-color: var(--color-gray);
    padding-left: 15px;
    font-size: 1.1rem;
    width: 90%;
}

.notif-icon {
    grid-area: notif-icon;
}

.profile-picture.small {
    grid-area: profile-picture-small;
    justify-self: center;
}

.header-top-username {
    grid-area: header-top-username;
    font-size: 1.3rem;
}

.header p {
    font-weight: bold;
}

.header-bottom {
    grid-area: header-bottom;
    display: grid;
    grid-template:
        'profile-picture-large user-greeting buttons'
        / 100px 1fr auto;
    align-items: center;
}

.profile-picture.large {
    grid-area: profile-picture-large;
}

.user-greeting {
    grid-area: user-greeting;
}

.user-greeting.top {
    font-size: 0.9rem;
}

.user-greeting.bottom {
    font-size: 1.5rem;
}

.buttons {
    grid-area: buttons;
    display: grid;
    grid-template: 'new-btn upload-btn share-btn';
    gap: 20px;
}

.header button {
    background-color: var(--color-blue);
    color: var(--color-white);
    border: none;
    height: 45px;
    width: 110px;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 1.3rem;
}

.new-btn {
    grid-area: new-btn;
}

.upload-btn {
    grid-area: upload-btn;
}

.share-btn {
    grid-area: share-btn;
}



.sidebar {
    grid-area: sidebar;
    background-color: var(--color-blue);
    display: grid;
    grid-template: 100px repeat(10, 60px) / 70px 1fr;
    align-items: center;
    color: var(--color-white);
    padding-left: 15px;
}

.sb-logo {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(338deg) brightness(101%) contrast(100%);
    justify-self: center;
    height: 30px;
}

.sb-logo.large {
    height: 60px;
}

.main {
    grid-area: main;
    background-color: var(--color-gray);
    display: grid;
    grid-template-columns: 1fr 300px;
    padding: 0 20px;
    gap: 20px;
}

.main-subheading {
    margin: 30px 0 10px 0;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    gap: 30px;
}

.card {
    background-color: var(--color-white);
    padding: 30px 25px;
    border-radius: 10px;
    height: 220px;
    position: relative;
}

.card-title {
    margin-bottom: 5px;
}

.yellow-stripe {
    background-color: var(--color-yellow);
    width: 7px;
    height: 100%;
    position: absolute;
    margin: -30px -25px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.card-text {
    color: var(--text-color-gray);
}

.card-icons {
    top: 160px;
    left: 220px;
    position: absolute;
}

.card-icons div {
    height: 30px;
    filter: invert(15%) sepia(0%) saturate(39%) hue-rotate(232deg) brightness(95%) contrast(83%);
    display: inline;
    margin: 0 10px;
}

.star-icon {
    content: url(svgs/star-plus-outline.svg);
}

.eye-icon {
    content: url(svgs/eye-plus-outline.svg);
}

.branch-icon {
    content: url(svgs/merge.svg);
    rotate: 90deg;
}

.announcements {
    display: grid;
    background-color: var(--color-white);
    border-radius: 10px;
    padding: 40px;
}

.announcements h4 {
    margin-bottom: 3px;
}

.announcements p {
    font-size: 0.9rem;
    color: var(--text-color-gray);
}

.announcements div:not(:last-child) {
    padding-bottom: 15px;
    border-bottom: 2px solid rgb(219, 219, 219);
}

.announcements div:not(:first-child) {
    padding-top: 15px;
}


.trending {
    background-color: var(--color-white);
    padding: 20px;
    display: grid;
    grid-template: repeat(4, 50px) / 50px auto;
    gap: 20px;
    align-items: center;
    border-radius: 10px;
}

.subtext {
    color: var(--text-color-gray);
}

.pic1 {
    filter: invert(39%) sepia(24%) saturate(5968%) hue-rotate(326deg) brightness(103%) contrast(104%);
}

.pic3 {
    filter: invert(35%) sepia(89%) saturate(947%) hue-rotate(358deg) brightness(92%) contrast(108%);
}

.pic4 {
    filter: invert(21%) sepia(46%) saturate(5399%) hue-rotate(273deg) brightness(94%) contrast(85%);
}